.form {
  position: relative;
  padding: 10px 15px !important;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
  cursor: pointer !important;
  &:hover {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.fieldRoot {
  &:after,
  &:before {
    display: none;
  }
}

.addButton {
  margin-top: 10px;
  //   position: absolute !important;
  //   right: 15px;
  //   bottom: 15px;
}
